/node_modules/
/typings/
/build/
/dist/
/lib/
/target/
/code/
/_site/
/bin/
.gradle
*.sw?
.#*
*#
*~
.classpath
.project
.settings
.metadata
.factorypath
.recommenders
.factorypath
.springBeans
.lock
.cache
interpolated*.xml
dependency-reduced-pom.xml
build.log
.*.md.html
manifest.yml
MANIFEST.MF
settings.xml
activemq-data
overridedb.*
*.iml
*.ipr
*.iws
.idea
*.jar
*.map.js
*.class
.DS_Store
.factorypath
dump.rdb
